body {
    margin: 0;
    background-color: #86F4F4;
}

header {
    background-color: #FFFF;
    text-transform: uppercase;
    margin: 0 20px;
    padding: 0.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

a {
    display: block;
    font-family: 'Playfair Display SC', serif;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;

}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav li {
    margin-right: 70px;
}

section {
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 130px;
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 50px;
}

article {
    display: flex;
    justify-content: center;
}

img {
    max-width: 70%;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 10px;
    align-items: center;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
    line-height: 30px;
    margin-right: 10px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.legend-img a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    align-items: center;
}

.legend-img a:hover {
    text-decoration: underline;
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: #8E8E8E;
    color: white;
    padding: 10px;
    margin-top: 90px;
}

.logo {
    margin-left: 40px;
    margin-top: 15px;
}

.contacts,
.avaibility,
.copyright {
    max-width: 400px;
    font-family: 'Roboto', sans-serif;
}

.avaibility,
.copyright {
    text-align: right;
    align-self: flex-end;
}

.avaibility {
    margin-top: 5px;
    margin-right: 10px;
    font-size: 11px;
}

.contacts {
    margin-top: 5px;
    margin-left: 80px;
    font-size: 11px;
}

.copyright {
    text-align: right;
    font-size: 10px;
}

.fa-solid {
    display: none;
    font-size: 36px;
    cursor: pointer;
    color: #000000;
}

@media only screen and (max-width: 768px) {

    .fa-solid {
        display: block;
    }

    nav ul {
        display: none;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-menu a {
        font-size: 16px;
        margin-bottom: 15px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .contacts,
    .avaibility {
        display: none;
    }
}